@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(249, 245, 245);
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;

  height: 400px;
  width: 800px;
  background-color: rgb(231, 215, 194);
}

.resistor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #dddddd;
}

.inputs {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}

.inputs h2 {
  position: absolute;
  top: 20px;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin {
  width: 60px;
  height: 8px;
  background-color: rgb(66, 65, 65);
  border-top-left-radius: 10%;
}

.left {
  width: 60px;
  height: 60px;
  background-color: rgb(240, 194, 125);
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  position: relative;
}
.mid {
  width: 75px;
  height: 40px;
  background-color: rgb(240, 194, 125);
  position: relative;
}
.right {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgb(240, 194, 125);
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.band {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
}

.tol {
  background-color: rebeccapurple;
}

.band1 {
  background-color: rgb(196, 59, 49);
}

.band2 {
  background-color: rgb(55, 136, 44);
  left: 0;
}

.band3 {
  background-color: rgb(53, 85, 226);
}

.band4 {
  background-color: rgb(44, 39, 39);
  left: 40px;
}

.band5 {
  background-color: rgb(184, 59, 128);
  left: 63px;
}

.text {
  position: relative;
  left: -3.5px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.r3,
.r2 {
  display: none;
}

/* //////////// */

.squre {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.col1 {
  background-color: red;
  margin-top: 10px;
}
.col2 {
  background-color: green;
}
.col3 {
  background-color: blue;
}
.col4 {
  background-color: rebeccapurple;
}

.ref {
  margin-top: 50px;
  display: flex;
  width: 66%;
  justify-content: space-evenly;
  background-color: #cccccc;
  border-radius: 20px;
}

.dots {
  margin: 10px;
}

.details {
  margin: 10px;
}

.details p {
  margin-bottom: 7px;
}

.details p:first-of-type {
  margin-top: 7px;
}

/* Selects */

select {
  margin: 5px;
  width: 200px;
  height: 30px;
  border: none;
  background-color: #dddddd;
  padding: 0 5px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right;

  /* background and info from https://stackoverflow.com/questions/14218307/select-arrow-style-change */
}

select:focus {
  outline: 0;
}

/* Selection box style */
