@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #61dbfb;
  font-family: "Roboto Mono", monospace;
  color: aliceblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > h1 {
  width: 280px;
  font-size: 28px;
  margin: 10px 0;
  text-align: center;
  color: aliceblue;

  padding: 5px 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 #1e436e5e;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
}
